/* Global --------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    color: #fefefe;
    font-family: 'Roboto Mono', monospace;
    font-size: 11pt;
    cursor: default;
    background-image: url("Imagens/universe3.jpg");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    animation: shrink 1.5s reverse;
}

@keyframes shrink {
    0% {
      background-size: 100% 100%;
    }
    100% {
      background-size: 110% 110%;
    }
  }

header{
    /*animation: bodybg 2s 0s linear infinite alternate;*/
    font-size: 25pt;
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#titlecontainer{
    display: flex;
    justify-content: center;
    padding: 40px;
}

/*
@keyframes bodybg{
    from   {background:red;}
    to     {background:blue;}
  }

header:hover{
    background-color: purple;
    transition: .6s ease-in-out;
}
*/

header a{
    color: #fefefe !important;
    padding: 5px;
    transition: .6s ease-in-out;
}

header a:hover{
    color: purple  !important;
    transition: .6s ease-in-out;
}


#subtitlecontainer{
    padding-left: 9%;
}

#toptextcontainer{
    padding-left: 9%;
}

#bottomtextcontainer{
    padding-left: 9%;
}

#bottomtextcontainer a{
    color: limegreen;
    transition: 0.3s ease-in-out;
}

#bottomtextcontainer a:hover{
    color: red;
    transition: 0.3s ease-in-out;
}

#sophiaimgcontainer{
    position: relative;
    display: flex;
    justify-content: center;
}

.sophiaimg{
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}

.sophiaimg:hover{
    opacity: 80%;
    transition: 0.3s ease-in-out;
}

#buttoncontainer{
    display: flex;
    justify-content: center;
}

#button{
    background-color: rgb(151, 57, 73);
    border-radius: 20px;
    margin: 1.5em auto;
    width: 100px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-decoration: none;
    border: none;
    outline: none;
    transition: 0.3s ease-in-out;
}

#button:hover{
    background-color: purple;
    color: whitesmoke;
    transition: 0.3s ease-in-out;
}

#lucianocontainer{
    display: flex;
    justify-content: center;
}

#luciano{
    border-radius: 20px;
    opacity: 1;
    transition: 0.5s;
}

#luciano.hide {
    opacity: 0;
}

body::-webkit-scrollbar {
    width: 2px;
}

body::-webkit-scrollbar-track {
    background: black;
}

body::-webkit-scrollbar-thumb {
    background-color: purple;
}

#footercontainer{
    display: flex;
    justify-content: center;
}

.footer{
    margin-bottom: 50px;
    opacity: 60%;
    font-family: 'Inconsolata', monospace;
}

.footer a{
    color: white;
    transition: 0.2s ease-in-out;
}

.footer a:hover{
    color: palegoldenrod;
    transition: 0.2s ease-in-out;
}
